
$primary: #e74c3c;
$primary_hover: #c0392b;
.card {
  border: none;
  border-radius: 0;
  .card-body {
    h1 {
      margin-bottom: 0;
      a {
        color: #777;
        &:hover {
          color: $primary_hover;
          text-decoration: none;
        }
      }
    }
    .info-bar {
      margin-bottom: 10px;
      color: #888;
      font-size: 14px;
      .date a {
        color: #888;
        &:hover {
          color: $primary_hover;
          text-decoration: none;
        }
      }
      .author a {
        color: #888;
        &:hover {
          color: $primary_hover;
          text-decoration: none;
        }
      }
    }
    .post-content {
      color: #333;
      a {
        color: $primary;
        &:hover {
          color: $primary_hover;
        }
      }
    }

  }
}
.btn {
  border-radius: 0;
}
.btn-tdwc {
  background-color: $primary;
  color: white;
  &:hover {
    background-color: $primary_hover;
    color: white;
  }
}

.bg-tdwc {
  background-color: $primary;
}